/* body{
    background-color: bisque;
} */
/* .buttons{
    background-color: rgb(242, 234, 225);
}
button{
    margin-inline: 10px;
}

#b2:hover{
    background-color: black;
} */
/* #testDiv div{
    min-height: 50px;
} */

#shopping-list div{
    margin-inline: 10px;
}